@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

//typography
@import "./typography/typography";
@import "./typography/variables";

//components
@import "./components/navbar";
@import "./components/button";

//pages
@import "./pages/layout";
@import "./pages/projects";
@import "./pages/loading";
@import "./pages/home";
