.link-none {
  text-decoration: none;
}

.home-heading {
  font-size: 50px;
  color: #241f21;
  padding: 0;
  font-weight: 700;
}

.home-name {
  color: #fe5b02;
}

.home-text {
  font-size: 20px;
  color: #241f21;
  padding: 0;
}
